doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/')= 'Home | '
    a(href='/secret')= 'Secret (Login) | '
    a(href='/todolist')= 'Todolist'
    block content
    hr
    footer= '© 2018 Gavin Fynbo – '
      a(href='/')= 'Home | '
      a(href='/secret')= 'Secret | '
      a(href='/todolist')= 'Todolist'