extends layout

block content
    h1= title
    pre= 'Congrats! You have reached the secret page. Please login with the secret username and secret password.'
    form(method='POST' action='/login')
        pre= 'Username'
        input(type='text' name='username' placeholder='john')
        br
        pre= 'Password'
        input(type='password' name='password')
        br
        button(name='Submit' value='Submit' type='submit')='Submit'
